@page
@model eHealthcare.Pages.newPatientModel
@{
    ViewData["Title"] = "newPatient";
}

<!doctype html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/hideShow.js" type="text/javascript"></script>
    <title>Login</title>
</head>

<body>
    <!--
    <nav class="navbar navbar-expand-lg navbar-light bg-info text-white">
        <a class="navbar-brand" href="#">
            logo here
        </a>
        <div class="mr-auto">
            <h1 class="text-light mt-1">
                Electronic Health Care System
            </h1>
        </div>
        <br>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto text-light">
                <li class="nav-item ">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Consultation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Subscriptions</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="login.html">Login</a>
                </li>
                </li>
            </ul>
        </div>
    </nav>
        -->
<<<<<<< Updated upstream
=======
    
>>>>>>> Stashed changes
    <div class="container-sm mt-5">

        <div class="registration-patient my-5">
            <form method="post">
                <h2>Registration</h2>
                <div class="form-group row">
                    <div class="col">
<<<<<<< Updated upstream
                        <label asp-for="Patient.firstName" class="for col-form-label text-md">First Name</label>
                        <input asp-for="Patient.firstName" type="text" id="firstName" class="form-control" placeholder="Enter First Name">
                    </div>
                    <div class="col">
                        <label asp-for="Patient.lastName" class="for col-form-label text-md">Last Name</label>
                        <input asp-for="Patient.lastName" type="text" id="lastName" class="form-control" placeholder="Enter Last Name">
=======
                        <label asp-for="Patient.PatientEmail" class="for col-form-label text-md">Email Address</label>
                        <input asp-for="Patient.PatientEmail" type="email" id="emailaddress" class="form-control" placeholder="Enter Email Address" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label asp-for="Patient.Person.Password" class="for col-form-label text-md">Password</label>
                        <input asp-for="Patient.Person.Password" type="password" id="userpassword" class="form-control" placeholder="Enter Password" required>
>>>>>>> Stashed changes
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
<<<<<<< Updated upstream
                        <label asp-for="Patient.DOB" class="for col-form-label text-md">Date of Birth</label>
                        <input asp-for="Patient.DOB" type="text" id="firstName" class="form-control" placeholder="dd/mm/yyyy">
                    </div>
                    <div class="col">
                        <label asp-for="Patient.gender" class="for col-form-label text-md">Gender</label>
                        <input asp-for="Patient.gender" type="text" id="lastName" class="form-control" placeholder="Enter Gender">
=======
                        <label asp-for="Patient.Person.FirstName" class="for col-form-label text-md">First Name</label>
                        <input asp-for="Patient.Person.FirstName" type="text" id="firstName" class="form-control" placeholder="Enter First Name" required>
                    </div>
                    <div class="col">
                        <label asp-for="Patient.Person.LastName" class="for col-form-label text-md">Last Name</label>
                        <input asp-for="Patient.Person.LastName" type="text" id="lastName" class="form-control" placeholder="Enter Last Name" required>
>>>>>>> Stashed changes
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
<<<<<<< Updated upstream
                        <label asp-for="Patient.medicareNumber" class="for col-form-label text-md">Medicare Number</label>
                        <input asp-for="Patient.medicareNumber" type="text" id="medicareNumber" class="form-control" placeholder="Enter Medicare Number">
=======
                        <label asp-for="Patient.Person.Dob" class="for col-form-label text-md">Date of Birth</label>
                        <input asp-for="Patient.Person.Dob" type="date" id="firstName" class="form-control" placeholder="dd/mm/yyyy" min="1900-01-01" max="2020-05-11" required>
>>>>>>> Stashed changes
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
<<<<<<< Updated upstream
                        <label asp-for="Patient.address" class="for col-form-label text-md">Address</label>
                        <input asp-for="Patient.address" type="text" id="address1" class="form-control" placeholder="Enter Address">
=======
                        <label asp-for="Patient.MedicareNum" class="for col-form-label text-md">Medicare Number</label>
                        <input asp-for="Patient.MedicareNum" type="text" id="medicareNumber" class="form-control" placeholder="Enter Medicare Number" required>
>>>>>>> Stashed changes
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
<<<<<<< Updated upstream
                        <label asp-for="Patient.address2" class="for col-form-label text-md">Address 2</label>
                        <input asp-for="Patient.address2" type="text" id="address2" class="form-control" placeholder="Enter Address">
=======
                        <label asp-for="Patient.Person.Address" class="for col-form-label text-md">Address</label>
                        <input asp-for="Patient.Person.Address" type="text" id="address1" class="form-control" placeholder="Enter Address" required>
>>>>>>> Stashed changes
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
<<<<<<< Updated upstream
                        <label asp-for="Patient.city">City</label>
                        <input asp-for="Patient.city" type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Patient.state">State</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
=======
                        <label asp-for="Patient.Person.Suburb">Suburb</label>
                        <input asp-for="Patient.Person.Suburb" type="text" class="form-control" id="inputCity" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Patient.Person.State">State</label>
                        <select asp-for="Patient.Person.State" id="inputState" class="form-control" required>
                            <option selected disabled></option>
>>>>>>> Stashed changes
                            <option value="NSW">NSW</option>
                            <option value="ACT">ACT</option>
                            <option value="VIC">VIC</option>
                            <option value="QLD">QLD</option>
                            <option value="TAS">TAS</option>
                            <option value="NT">NT</option>
                            <option value="WA">WA</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
<<<<<<< Updated upstream
                        <label asp-for="Patient.postcode">Post Code</label>
                        <input asp-for="Patient.postcode" type="text" class="form-control" id="inputZip">
=======
                        <label asp-for="Patient.Person.Postcode">Post Code</label>
                        <input asp-for="Patient.Person.Postcode" type="text" class="form-control" id="inputZip" required>
>>>>>>> Stashed changes
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button class="btn btn-danger" type="reset">Reset</button>
            </form>
        </div>
    </div>
<<<<<<< Updated upstream
=======
        
>>>>>>> Stashed changes

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

</body>

</html>
