@page
@model eHealthcare.Pages.patientAppointmentHubModel
@using Microsoft.AspNetCore.Http;
@using System.Globalization;
@{
    string role = HttpContext.Session.GetString("Role");

    if (role == "Patient")
    {
        Layout = "~/Pages/Shared/_PatientLayout.cshtml";
    }
    else
    {
        Layout = "~/Pages/Shared/_Layout.cshtml";
    }
}


<!doctype html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/hideShow.js" type="text/javascript"></script>
    <title>Appointments</title>
</head>

<body>
    <div class="container-sm mt-5">
        <div id="patientAppointments" class="patientAppointments">

            <div class="card">
                <h3 class="card-header text-center py-4">Current Appointments</h3>
                <div class="card-body">
                    <div id="appointmentTable" class="appointmentTable">
                        <table class="table table-bordered table-responsive-md table-striped text-center">
                            <thead>
                                <tr>
                                    <th class="text-center">Doctor</th>
                                    <th class="text-center">Medical Practice</th>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">Time</th>
                                    <th class="text-center">Cancel Appointment</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var appt in Model.Patient.Consultation)
                                {
                                    
                                    <tr>
                                        <td>
                                            <select id="Doctor">
                                                <option value="Dr">Dr @appt.Doctor.Person.FirstName</option>
                                            </select>
                                        </td>
                                        
                                        <td class="pt-3-half">General Medical Practice</td>
                                        <td class="pt-3-half"><input type="text" name="appointmentDate" class="form-control" value=@appt.ConsultationDate.Value.Date> </td>
                                        <td class="pt-3-half"><input type="time" name="appointmentTime" class="form-control" value=@appt.ConsultationDate.Value.TimeOfDay></td>
                                        <td>
                                            <span class="table-remove">
                                                <button type="button"
                                                        class="btn btn-danger">
                                                    X
                                                </button>
                                            </span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <br>
            <br>

            <div align="center">
                <button type="submit" class="btn btn-primary" formaction="#">Submit Changes</button>
            </div>
        </div>



        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>

</body>

</html>