.active a {
  color: white !important;
  font-weight: 700;
}

.navbar a {
  &:hover {
    color: white !important;
    text-decoration: underline !important;
  }
}

.logo {
  fill: white;
  width: 50px;
  height: 50px;
}

.main {
  //   background-color: blue;
}

li {
  text-decoration: none;
}

.userLogin {
  text-align: center;
  .list-group-item {
  }
}
